apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: milestone2
  namespace: fs-argocd
spec:
  project: default
  source:
    repoURL: https://github.com/FerreS118/milestone-2.git
    targetRevision: HEAD
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true